@model IEnumerable<BlogAppWithMVC.Models.CategoryBlog>

@{
    ViewBag.Title = "Kategori Listesi";
}

<h2>Kategori Listesi</h2>

<p>
    @Html.ActionLink("Kategori Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>

<hr />

@if (TempData["Category"] != null)
{
    var category = (BlogAppWithMVC.Models.Category)TempData["Category"];
<div class="alert alert-success" role="alert">
    <strong>
        <span class="glyphicon glyphicon-ok"></span>@category.CategoryName
    </strong>
    Başarıyla Kayıt Edildi.
</div>
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th>
            Blog Sayısı
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryName)
        </td>
        <td>
            @item.blogCount
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id },new { @class ="btn btn-warning btn-xs"})
            @Html.ActionLink("Details", "Details", new { id=item.id }, new { @class = "btn btn-primary btn-xs" })
            @Html.ActionLink("Delete", "Delete", new { id=item.id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
